.dwolla-balance {
    width: 470px;
  }
  
  .dwolla-balance-display {
    color: #354153;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 20px;
    margin-top: 30px;
    width: 470px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dwolla-balance-header {
    color: #354153;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
    width: 470px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #dwolla-success {
    background-color: #ddf0e0;
    color: #58b467;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border-color: #58b467;
    border-style: solid;
    border-width: 1px;
  }
  
  #dwolla-info {
    background-color: #ddf0e0;
    color: #354153;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(54, 136, 207, 0.5);
  }
  
  #dwolla-error {
    background-color: #f7ebee;
    color: #354153;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border-color: #cf5473;
    border-style: solid;
    border-width: 1px;
  }
  
  .dwolla-link {
    color: #1d6cd1;
  }
  