.code-container {
    border-radius: 5px;
    text-align: left;
    margin: 0 auto 5px auto;
    color: #354153;
    width: 740px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    background: #fff;
    padding: 5px 10px;
    box-shadow: 0 2px 4px 0 rgba(53, 65, 83, 0.12),
      0 0 2px 0 rgba(53, 65, 83, 0.12);
  }
  
  .pre {
    width: 740px;
    font-family: "monospace";
    font-weight: 300;
    text-align: left;
  }
  