<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-16x16_d8c975a0.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-32x32_a4dac4e7.png">
    <title>Dwolla</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400|Roboto:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            text-align: center;
            margin: 0;
            background-color: #ffffff;
        }
    </style>
    <script type="text/javascript" src="//cdn.dwolla.com/v2.1.8/dwolla-web.js"></script>
     <link rel="stylesheet" href="/styles/main.css">
    <script>
        dwolla.configure({
            environment: "sandbox",
            // styles: "/styles/business-vcr.css",
            tokenUrl: "/tokenUrl",
            success: (res) => Promise.resolve(),
            error: (err) => Promise.resolve()
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="banner-image"><img alt="Dwolla Logo"
                src="https://slack-integration-sandbox.dwolla.com/images/dwolla-logo-white.svg"></div>
        <div class="container-sm">
            <h3>Beneficial Owners</h3>
            <div class="orange-border">
                <dwolla-beneficial-owners customerId="{{ customerId }}">
                </dwolla-beneficial-owners>
            </div>
        </div>
        <div class="container-sm">
            <div class="code-container">
                <h3>Adding Beneficial Owners With Drop-Ins (Copy + Paste Integration)</h3>
                <pre>
    &lt;script type="text/javascript" src="//cdn.dwolla.com/v2.1.8/dwolla-web.js"&gt;&lt;/script&gt;
    &lt;script&gt;
        dwolla.configure({
            environment: "sandbox",
            styles: "/styles/custom-styles.css",
            tokenUrl: "/tokenUrl",
            success: (res) => Promise.resolve(res),
            error: (err) => Promise.resolve(err),
        });
    &lt;/script&gt;

    &lt;dwolla-beneficial-owners customerId="customerId"&gt;
    &lt;/dwolla-beneficial-owners&gt;
</pre>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
