<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-16x16_d8c975a0.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-32x32_a4dac4e7.png">
        <title>Dwolla</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400|Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
        <style>
            body
            {
                text-align:center;
                margin: 0;
                background-color: #ffffff;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        </script>
    </head>
    <body>
        <div class="container">
            <div class="banner-image"><img src="https://slack-integration-sandbox.dwolla.com/images/dwolla-logo-white.svg"></div>
            <div class="container-menu">
                <h1>Drop Ins</h1>
                <div class="menu-item"><a href="/create-customer"><h3>Create Customer</h3></a></div>
                <div class="menu-item"><a href="/upgrade-customer"><h3>Upgrade Customer</h3></a></div>
                <div class="menu-item"><a href="/personal-vcr-flow"><h3>Personal Verified Customer Flow</h3></a></div>
                <div class="menu-item"><a href="/business-vcr-flow"><h3>Business Verified Customer Flow</h3></a></div>
                <div class="menu-item"><a href="/upload-document"><h3>Upload Document</h3></a></div>
                <div class="menu-item"><a href="/balance-display"><h3>Balance Display</h3></a></div> 
                <div class="menu-item"><a href="/payin-flow"><h3>Pay-in Flow</h3></a></div>  
            </div>
        </div>
    </body>
</html>
