<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-16x16_d8c975a0.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-32x32_a4dac4e7.png">
    <title>Dwolla</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400|Roboto:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            text-align: center;
            margin: 0;
            background-color: #ffffff;
        }
    </style>
    <script src="//cdn.dwolla.com/v2/dwolla-web.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/personal-vcr.css">

    <script type="text/javascript" src="cdn.dwolla.com/2/dwolla.js"></script>
    <script type="module" src="cdn.dwolla.com/2/dwolla-components.js"></script>
    <script>
        dwolla.configure({
            environment: "sandbox",
            styles: "/styles/personal-vcr.css",
            token: () => Promise.resolve({{"MY-TOKEN"}}),
            success: (res) => Promise.resolve(res),
            error: (err) => Promise.resolve(err),
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="banner-image"><img alt="Dwolla Logo"
                src="https://slack-integration-sandbox.dwolla.com/images/dwolla-logo-white.svg"></div>
        <div class="container-sm">
            <h3>Create A Personal VCR</h3>
            <div class="orange-border">
    <dwolla-personal-vcr
        terms="https://www.yourcompany.com/tos"
        privacy="https://www.yourcompany.com/privacy">
    </dwolla-personal-vcr>
            </div>
        </div>
        <div class="container-sm">
            <div class="code-container">
                <h3>Creating A Customer With Drop-Ins (Copy + Paste Integration)</h3>
                <pre>
    &lt;script type="text/javascript" src="cdn.dwolla.com/2/dwolla.js"&gt;&lt;/script&gt;
    &lt;script type="module" src="cdn.dwolla.com/2/dwolla-components.js"&gt;&lt;/script&gt;
    &lt;script&gt;
        dwolla.configure({
            environment: "sandbox",
            styles: "/styles/create-custom.css",
            token: () => Promise.resolve("MY_TOKEN"),
            success: (res) => Promise.resolve(res),
            error: (err) => Promise.resolve(err),
        });
    &lt;/script&gt;

    &lt;dwolla-personal-vcr
        terms="https://www.yourcompany.com/tos"
        privacy="https://www.yourcompany.com/privacy"&gt;
    &lt;/dwolla-personal-vcr&gt;
</pre>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
