<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-16x16_d8c975a0.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://cdn.dwolla.com/com/dist/images/favicons/favicon-32x32_a4dac4e7.png">
    <title>Dwolla</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400|Roboto:400,700&display=swap" rel="stylesheet">
    <style>
        body {
            text-align: center;
            margin: 0;
            background-color: #ffffff;
        }
    </style>
    <script src="//cdn.dwolla.com/v2.1.8/dwolla-web.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/upgrade.css">
    <script>
        dwolla.configure({
              environment: "sandbox",
            styles: "/styles/upgrade.css",
            tokenUrl: "/tokenUrl",
            success: (res) => Promise.resolve(),
            error: (err) => Promise.resolve()
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="banner-image"><img alt="Dwolla Logo"
                src="https://slack-integration-sandbox.dwolla.com/images/dwolla-logo-white.svg"></div>
        <div class="container-sm">
            <h3>Upgrade Customer</h3>
            <div class="orange-border">
                <dwolla-customer-update customerId="{{ customer.id }}" firstName="{{ customer.firstName }}"
                    lastName="{{ customer.lastName }}" email="{{ customer.email }}" terms="https://docs.dwolla.com/"
                    privacy="https://developers.dwolla.com/">
                </dwolla-customer-update>
            </div>
        </div>
        <div class="container-sm">
            <div class="code-container">
                <h3>Upgrading A Customer With Drop-Ins (Copy + Paste Integration)</h3>
                <pre>
    &lt;script type="text/javascript" src="cdn.dwolla.com/2/dwolla.js"&gt;&lt;/script&gt;
    &lt;script type="module" src="cdn.dwolla.com/2/dwolla-components.js"&gt;&lt;/script&gt;
    &lt;script&gt;
        dwolla.configure({
            environment: "sandbox",
            styles: "/styles/upgrade-custom.css",
            tokenUrl: "/tokenUrl",
            success: (res) => Promise.resolve(res),
            error: (err) => Promise.resolve(err),
        });
    &lt;/script&gt;

    &lt;dwolla-customer-update
        customerId="customerId"
        firstName="Jack"
        lastName="Jackson"
        email="jjackson@dwolla.com"
        terms="https://www.yourcompany.com/tos"
        privacy="https://www.yourcompany.com/privacy"&gt;
    &lt;/dwolla-customer-update&gt;
</pre>
            </div>
        </div>
    </div>
    </div>
</body>

</html>
